<div id="confirm-password-modal" class="modal">
  <div class="modal-content">
    <span id="close-confirm-password" class="close-btn">&times;</span>
    <h2>Confirme sua senha</h2>
    <form id="confirm-password-form">
      
      <div class="password-container">
        <input type="password" id="confirm-password-input" placeholder="Senha atual" required>
        <span id="toggle-password" class="toggle-password">&#128065;</span> <!-- 👁️ -->
      </div>

      <div class="buttons">
        <button type="submit" class="confirm-btn">Confirmar</button>
      </div>

    </form>
  </div>
</div>
