<div class="modal" id="confirm-delete-modal">
    <div class="modal-content">
      <span class="close-btn" id="close-confirm-delete">&times;</span>
      <h2>Confirmar Exclusão</h2>
      <p>Tem certeza que deseja excluir sua conta? Esta ação é <strong>irreversível</strong>.</p>
      
      <div class="buttons">
        <button id="confirm-delete-btn" class="danger-btn">Excluir</button>
        <button id="cancel-delete-btn" class="cancel-btn">Cancelar</button>
      </div>
    </div>
  </div>
  